.history_node {
    cursor: pointer;
}

.history_node:hover {
    background: #dadada;
}
.map-panel{
    cursor: pointer;
}
#viewType button:focus { outline: none; }

.panel-body table{
    width: 100% !important;
}
.history_node{
    cursor:pointer;
}