
li {
    list-style-type: none;
}
#pick_date{
    display: none;
}

#report_1{
    display: none;
}
#report_2{
    display: none;
}
#report_3{
    display: none;
}
#report_4{
    display: none;
}
#report_5{
    display: none;
}
#report_6{
    display: none;
}
