.welcome {
    background: url(../img/TaxiDriver.jpg) no-repeat center;
    /*background-color: #000000;*/
}

.modal-body {
    max-width: 500px;
    align-items: center;
}
.order-details{
    cursor: pointer;
}

.order-details:hover {
    background-color:#66afe9;
}
